<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="smsMessageSender"
          class="com.nhnacademy.edu.springframework.messagesender.SmsMessageSender"
          scope="prototype"
          init-method="init"
    >
    </bean>

    <!--<bean id="emailMessageSender"
          class="com.nhnacademy.edu.springframework.messagesender.EmailMessageSender"
          scope="singleton"
          destroy-method="destroy"
    >
    </bean>-->

    <bean id="messageSenderService" class="service.MessageSendService">
        <!-- 생성자를 통한 의존성 주입 -->
        <!-- <constructor-arg ref="smsMessageSender" />-->
        <property name="messageSender" ref="smsMessageSender"/>
    </bean>
</beans>